<div class = "container">
  <h1> Choose Species </h1>
  <ul>
      <%@species.each do |family| %>
        <li><a href = "/locations/<%=@location.id%>/species/<%=family.id%>"><%=family.species_name%></a>
        </li>
      <%end%>
  </ul>
</div>
